@import url(solarized.css);
@import url(normalize.css);
code {
  font-family: Inconsolata, Consolas, "DejaVu Sans Mono", monospace;
  color: #93a1a1; }

.highlight {
  padding: 5px 15px;
  text-shadow: 0 -1px #222222;
  margin: 15px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px #111111;
  -moz-box-shadow: inset 0 0 5px #111111;
  box-shadow: inset 0 0 5px #111111; }

.header {
  color: #93a1a1;
  height: 140px;
  background: #073642;
  border-bottom: 1px solid #2aa198; }

.title a:link, .subtitle a:link, .title a:visited, .subtitle a:visited {
  text-decoration: none;
  color: #93a1a1;
  text-shadow: 0 1px 3px #222222; }
.title a:hover, .subtitle a:hover {
  color: #b58900;
  text-shadow: 0 1px 3px #222222; }
.title a:active, .subtitle a:active {
  color: #b58900;
  text-shadow: 0 1px 3px #222222; }

.title {
  padding: 30px 30px 0;
  font: 40px "Open Sans Condensed", sans-serif; }

.subtitle {
  padding: 0 33px;
  font: 18px "Contrail One", sans-serif;
  text-shadow: 0 1px 3px #222222; }

.shadow-col1 {
  text-shadow: 0 0 12px #b58900; }

.shadow-col2 {
  text-shadow: 0 0 12px #cb4b16; }

.shadow-col3 {
  text-shadow: 0 0 12px #dc322f; }

.shadow-col4 {
  text-shadow: 0 0 12px #d33682; }

.shadow-col5 {
  text-shadow: 0 0 12px #6c71c4; }

.shadow-col6 {
  text-shadow: 0 0 12px #268bd2; }

.shadow-col7 {
  text-shadow: 0 0 12px #2aa198; }

.shadow-col8 {
  text-shadow: 0 0 12px #859900; }

#fortune {
  font: 24px "Bangers", sans-serif;
  float: right; }
  @media (max-width: 640px) {
    #fortune {
      display: none; } }

#tldr {
  font-family: Inconsolata, Consolas, "DejaVu Sans Mono", monospace;
  padding: 5px 10px;
  border: 1px solid #073642;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  #tldr:link, #tldr:visited {
    text-decoration: none;
    color: #6c71c4;
    text-shadow: 0 0 3px #111111; }
  #tldr:hover {
    color: #b58900;
    text-shadow: 0 0 3px #111111; }
  #tldr:active {
    color: #b58900;
    text-shadow: 0 0 3px #111111; }

.date, dt {
  font-family: Inconsolata, Consolas, "DejaVu Sans Mono", monospace;
  color: #859900; }

dl {
  padding: 10px; }
  @media (max-width: 640px) {
    dl {
      padding: 30px 0; } }

dt {
  float: left;
  clear: left;
  width: 100px;
  text-align: right; }

dd {
  margin: 0 0 0 115px; }
  dd p {
    text-align: justify; }

.content {
  font: 15px/1.4 "Karla", sans-serif;
  padding: 20px 50px 15px;
  color: #839496; }
  @media (max-width: 640px) {
    .content {
      padding: 20px 15px 15px; } }
  .content img {
    -webkit-box-shadow: 0 0 10px 1px #111111;
    -moz-box-shadow: 0 0 10px 1px #111111;
    box-shadow: 0 0 10px 1px #111111;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }

.img-right {
  float: right;
  margin: 0 0 10px 20px; }

.img-left {
  float: left;
  margin: 0 20px 10px 0; }

::selection {
  color: #002b36;
  background: #839496; }

::-moz-selection {
  color: #002b36;
  background: #839496; }

.page-content, .post {
  padding: 0 0 15px;
  margin-bottom: 15px;
  text-align: justify; }

.post {
  border-bottom: 1px solid #073642; }

.post-footer {
  font-size: 13px;
  margin-bottom: 30px; }

.tags {
  float: right; }
  .tags ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .tags ul li {
      display: inline;
      margin: 0; }
      .tags ul li a:link, .tags ul li a:visited {
        text-decoration: none;
        color: #6c71c4;
        text-shadow: none; }
      .tags ul li a:hover {
        color: #b58900;
        text-shadow: none; }
      .tags ul li a:active {
        color: #b58900;
        text-shadow: none; }
  @media (max-width: 640px) {
    .tags {
      display: none; } }
  .tags a {
    margin-left: 10px; }

.status-online {
  color: #859900; }

.status-offline {
  color: #dc322f; }

.footer {
  font: 15px "Contrail One", sans-serif;
  padding: 0 20px;
  background: #073642;
  color: #839496;
  border-top: 1px solid #2aa198;
  line-height: 50px; }
  .footer .license {
    float: left; }
    .footer .license p {
      display: inline-block;
      margin: 0; }
      @media (max-width: 640px) {
        .footer .license p {
          display: none; } }
    .footer .license img {
      vertical-align: -2px;
      padding: 0 5px; }
  .footer .footernav {
    float: right; }
    .footer .footernav ul {
      margin: 0;
      padding: 0;
      list-style-type: none; }
      .footer .footernav ul li {
        display: inline;
        margin: auto auto auto 10px; }
        .footer .footernav ul li a:link, .footer .footernav ul li a:visited {
          text-decoration: none;
          color: #93a1a1;
          text-shadow: 0 0 3px #111111; }
        .footer .footernav ul li a:hover {
          color: #b58900;
          text-shadow: 0 0 3px #111111; }
        .footer .footernav ul li a:active {
          color: #b58900;
          text-shadow: 0 0 3px #111111; }

.wrapper {
  min-height: 100%;
  background: #002b36;
  margin-bottom: -51px;
  -webkit-box-shadow: 0 0 10px 1px #111111;
  -moz-box-shadow: 0 0 10px 1px #111111;
  box-shadow: 0 0 10px 1px #111111; }

.wrapper:after {
  content: "";
  display: block;
  clear: both; }

.footer, .wrapper:after {
  height: 50px; }

body, html {
  height: 100%;
  margin: 0;
  background: #073642 url("../assets/img/noisy_net.png"); }

body {
  overflow-y: scroll; }

a:link, a:visited {
  color: #6c71c4;
  text-decoration: none; }

a:hover {
  color: #b58900; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans Condensed", sans-serif;
  color: #93a1a1;
  text-shadow: 0 1px 3px #222222; }

.container {
  height: 100%;
  max-width: 800px;
  margin: auto; }

body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px; }
